In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, random, time

import warnings
warnings.filterwarnings('ignore')

In [60]:
starting_dir = os.getcwd()
print ("starting_dir:" + str(starting_dir))

# mac - phase I & II - morpho
#complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/morpho/tall/zf_morphology_data_335_chemicals_2020DEC16.csv'

# mac - phase III - morpho - original from Oregon state
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23.csv'

morph_data = pd.read_csv(complete_input_file_path, header = 0)
pd.set_option('display.max_columns', None)
morph_data.head()

starting_dir:/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/analysis/latest/1_reformat/all_targets/morpho/divide_into_two_sets

   chemical.id      bottle.id  conc  plate.id well      date endpoint  value
0          234  NTP DNT 91-A1   0.0     14389  H01  20161122     MO24    0.0
1          234  NTP DNT 91-A1   0.0     14389  H02  20161122     MO24    0.0
2          234  NTP DNT 91-A1   0.0     14389  H03  20161122     MO24    0.0
3          234  NTP DNT 91-A1   0.0     14389  H04  20161122     MO24    0.0
4          234  NTP DNT 91-A1   0.0     14389  H05  20161122     MO24    0.0

In [61]:
# just TX part
#TX_bottle_id_morph_data = morph_data[morph_data['bottle.id'].str.contains("^TX")]
#TX_bottle_id_morph_data = morph_data[morph_data['bottle.id'].str.contains("TX$")]
#TX_bottle_id_morph_data.head()

In [62]:
# basic analysis
#new_morph_data = morph_data.loc[morph_data['chemical.id'] == 197,['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]
#new_morph_data.head()
#morph_data_w_end = new_morph_data.loc[new_morph_data['endpoint'] == 'MO24',['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]
#morph_data_w_end.head()
#np.sum(morph_data['value'] == 1)
#np.sum(morph_data['value'] == 0) # -> 82%
#np.sum(np.isnan(morph_data['value']))
#morph_data.shape

In [63]:
# Keep only relevant columns
columns_to_keep = ['chemical.id', 'conc', 'bottle.id', 'plate.id', 'well', 'endpoint', 'value'] 
# 'bottle.id' is added since Lisa wants to use it to join with behavioral data

morph_data_select = morph_data.loc[:,columns_to_keep]
morph_data_select.head()

   chemical.id  conc      bottle.id  plate.id well endpoint  value
0          234   0.0  NTP DNT 91-A1     14389  H01     MO24    0.0
1          234   0.0  NTP DNT 91-A1     14389  H02     MO24    0.0
2          234   0.0  NTP DNT 91-A1     14389  H03     MO24    0.0
3          234   0.0  NTP DNT 91-A1     14389  H04     MO24    0.0
4          234   0.0  NTP DNT 91-A1     14389  H05     MO24    0.0

In [64]:
print ("<before dropping duplicates> len(morph_data_select):" + str(len(morph_data_select)))
morph_data_select = morph_data_select.drop_duplicates()
print ("<after dropping duplicates>  len(morph_data_select):" + str(len(morph_data_select)))

<before dropping duplicates> len(morph_data_select):1203532
<after dropping duplicates>  len(morph_data_select):1203532

In [65]:
'''unique_endpoints = np.unique(morph_data_select['endpoint'])
print(unique_endpoints)
print(len(unique_endpoints))'''

"unique_endpoints = np.unique(morph_data_select['endpoint'])\nprint(unique_endpoints)\nprint(len(unique_endpoints))"

In [66]:
'''morph_data_select_220 = morph_data_select.loc[(morph_data_select['chemical.id'] == 220)]
#display(morph_data_select_220.head)

unique_endpoints = np.unique(morph_data_select_220['endpoint'])
print(unique_endpoints)
print(len(unique_endpoints))'''

"morph_data_select_220 = morph_data_select.loc[(morph_data_select['chemical.id'] == 220)]\n#display(morph_data_select_220.head)\n\nunique_endpoints = np.unique(morph_data_select_220['endpoint'])\nprint(unique_endpoints)\nprint(len(unique_endpoints))"

In [67]:
start_time = time.time()

morpho_data_w_14_endpoints = pd.DataFrame()
morpho_data_w_23_endpoints = pd.DataFrame()

#full_devel = "full"
full_devel = "devel"

chemical_id_from_here = np.unique(morph_data_select['chemical.id'])
if (full_devel == "devel"):
    randomly_chosen = random.sample(set(chemical_id_from_here), 1)
    chemical_id_from_here = []
    for i in range(len(randomly_chosen)):
        chemical_id_from_here.append(randomly_chosen[i])

for chemical_index in chemical_id_from_here:
    print ("chemical_index:"+str(chemical_index))
    morph_data_chemical = morph_data_select.loc[morph_data['chemical.id'] == chemical_index,:]

    if (len(np.unique(morph_data_chemical['endpoint'])) == 14):
        morpho_data_w_14_endpoints = pd.concat([morpho_data_w_14_endpoints, morph_data_chemical])
    elif (len(np.unique(morph_data_chemical['endpoint'])) == 23):
        morpho_data_w_23_endpoints = pd.concat([morpho_data_w_23_endpoints, morph_data_chemical])
    else:
        print (len(np.unique(morph_data_chemical['endpoint'])))
       
end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # took 13 minutes for 344 chemicals

chemical_index:1178
Done, it took:0.1 seconds

In [68]:
display(morpho_data_w_14_endpoints)
display(morpho_data_w_23_endpoints)

Empty DataFrame
Columns: []
Index: []

        chemical.id  conc      bottle.id  plate.id well endpoint  value
4896           1178   0.0  NTP DNT 91-C5     14362  H01     MO24    0.0
4897           1178   0.0  NTP DNT 91-C5     14362  H02     MO24    0.0
4898           1178   0.0  NTP DNT 91-C5     14362  H03     MO24    0.0
4899           1178   0.0  NTP DNT 91-C5     14362  H04     MO24    0.0
4900           1178   0.0  NTP DNT 91-C5     14362  H05     MO24    0.0
...             ...   ...            ...       ...  ...      ...    ...
347323         1178  67.0  NTP DNT 91-C5     15519  A08     DNC_    0.0
347324         1178  67.0  NTP DNT 91-C5     15519  A09     DNC_    0.0
347325         1178  67.0  NTP DNT 91-C5     15519  A10     DNC_    0.0
347326         1178  67.0  NTP DNT 91-C5     15519  A11     DNC_    0.0
347327         1178  67.0  NTP DNT 91-C5     15519  A12     DNC_    0.0

[6624 rows x 7 columns]

In [69]:
output_data_filename = str(complete_input_file_path[:-4]) + "_" + str(full_devel) + "_w_14_endpoints.csv"
print ("output_data_filename:"+str(output_data_filename))
morpho_data_w_14_endpoints.to_csv(output_data_filename,index=False)

output_data_filename:/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_devel_w_14_endpoints.csv

In [70]:
output_data_filename = str(complete_input_file_path[:-4]) + "_" + str(full_devel) + "_w_23_endpoints.csv"
print ("output_data_filename:"+str(output_data_filename))
morpho_data_w_23_endpoints.to_csv(output_data_filename,index=False)

output_data_filename:/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_devel_w_23_endpoints.csv